streamlit
streamlit-webrtc
openai
python-dotenv
SpeechRecognition
pyaudio
numpy

langgraph
langchain
langchain-core
langchain-openai  # If you're using OpenAI with LangChain
typing_extensions
